<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{contService.formData.id==0 ? 'Add Contact' : 'Edit
        Contact'}}</h5>
    <button type="button" #closePopup class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <div class="container">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName"
                    [ngClass]="{ 'is-invalid': contService.formSubmitted && f['firstName'].errors }">
                <p *ngIf="contService.formSubmitted && f['firstName'].errors" class="invalid-feedback">
                    <span *ngIf="f['firstName'].errors?.['required']">First Name is required</span>
                    <span *ngIf="f['firstName'].errors?.['pattern']">Please Enter only Characters</span>
                </p>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName"
                    [ngClass]="{ 'is-invalid': contService.formSubmitted && f['lastName'].errors }">
                <p *ngIf="contService.formSubmitted && f['lastName'].errors" class="invalid-feedback">
                    <span *ngIf="f['lastName'].errors?.['required']">Last Name is required</span>
                    <span *ngIf="f['lastName'].errors?.['pattern']">Please Enter only Characters</span>
                </p>
            </div>
            <div class="col mb-3">
                <label class="form-label">Email</label>
                <input type="text" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': contService.formSubmitted && f['email'].errors }" />
                <p *ngIf="contService.formSubmitted && f['email'].errors" class="invalid-feedback">
                    <span *ngIf="f['email'].errors?.['required']">Email is required</span>
                    <span *ngIf="f['email'].errors?.['email']">Email must be a valid email address</span>
                </p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>