<form #form="ngForm" (ngSubmit)="onSubmit(form)" [class.submitted]="contService.formSubmitted" novalidate
    autocomplete="off">
    <input type="hidden" [value]="contService.formData.id">
    <div class="form-group">
        <label>First Name</label>
        <input class="form-control form-control-md" placeholder="First Name" #FirstName="ngModel"
            [(ngModel)]="contService.formData.firstName" pattern="^[a-zA-Z]+$" name="firstName" required>
        <p class="text-danger" *ngIf="FirstName.errors?.['pattern']">Please Enter Only Characters</p>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control form-control-md" placeholder="Last Name" #LastName="ngModel"
            [(ngModel)]="contService.formData.lastName" pattern="^[a-zA-Z]+$" name="lastName" required>
        <p class="text-danger" *ngIf="LastName.errors?.['pattern']">Please Enter Only Characters</p>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control form-control-md" placeholder="email" #email="ngModel"
            [(ngModel)]="contService.formData.email" name="email" required type="email" email="true">
        <p class="text-danger" *ngIf="email.errors?.['email']">Please Enter Valid Email Address</p>
    </div>
    <div class="div d-grid m-2">
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
</form>